@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

body::-webkit-scrollbar {
    background: #43474e;
    width: 10px;
}
body::-webkit-scrollbar-thumb {
    background: #2f3136;
    border-radius: 10px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;

    background: white;

    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 12px;

    overflow: auto;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.form {
    display: grid;

    &__subject {
        font-size: 20px;
        font-weight: 600;
    }
    &__text {
        font-style: 18px;
    }
    &__input-box {
        display: grid;
    }
    &__input {
        background: none;
        padding-top: 30px;
        padding-left: 5px;
        font-size: 18px;
    }

    &__input::-webkit-calendar-picker-indicator {
        background-image: url("/img/form/calendar-icon.svg");
    }

    &__btn {
        font-style: 18px;
    }
}

.navigation {
    width: 100%;
    &__content {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        text-align: center;

        row-gap: 5px;
        column-gap: 10px;
        padding: 0 10px;
    }
}

button,
.button {
    padding: 20px;

    background: none;
    border: solid 2px #0c0808;

    cursor: pointer;
    transition: color 0.4s ease-in, border 0.4s ease-in;

    @media (pointer: fine) {
        &:hover {
            color: rgb(129, 129, 129);
            border: solid 2px rgb(129, 129, 129);
        }
    }
}

.img {
    width: 120px;
    height: 171px;
}
img {
    object-fit: cover;
}

h2 > a {
    color: black;
    scroll-margin-top: 70px;
}
h2 {
    text-align: center;
    font-size: 28px;
    font-weight: 800;
}

.header {
    display: flex;
    width: 100%;
    height: 70px;
    backdrop-filter: blur(3px);

    position: fixed;
    top: 0;
    z-index: 1;

    border-bottom: solid 2px #666666;

    & a {
        color: #000;
        @media (pointer: fine) {
            &:hover {
                color: rgb(136, 115, 115);
            }
        }
    }

    &__logo {
        min-width: 50px;
        height: 100%;
    }
    &__content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__contacts {
        height: 100%;
        display: flex;
    }
    &__navigation {
        display: none;
    }
    &__contacts-item {
        width: max-content;
        height: 100%;
        display: grid;
        align-items: center;

        padding: 0 20px;
        border-left: solid 1px;
        border-right: solid 1px;
    }
    &__contacts-item:last-child {
        border-left: none;
    }
}
.burger-menu {
    z-index: 1;
    position: fixed;
    left: 100vw;

    width: 100vw;
    height: 100vh;

    background: #ffffff;

    overflow-y: hidden;
    transition: left 0.8s ease-in;

    font-size: 18px;

    &--active {
        left: 0;
    }

    &__navigation {
        margin-top: 100px;
        margin-left: 50px;
    }

    &__navigation-content {
        height: 100%;

        display: grid;
        justify-content: start;

        text-align: left;
        row-gap: 35px;
    }

    &__Ñatigories {
        color: #000;
    }
}

main {
    width: 100%;
}

.preview {
    max-width: 1200px;
    max-height: 800px;
    height: 91vh;

    margin: auto;

    display: grid;
    position: relative;

    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    &__img {
        width: 100%;
        height: 91vh;
        max-width: 100%;
        max-height: 800px;

        margin: auto;

        grid-area: 1 / 1 / 2 / 2;
    }
    &__content {
        width: 80%;
        height: 100%;

        margin-left: 20px;
        margin-right: 20px;

        display: flex;
        height: max-content;
        grid-area: 1 / 1 / 2 / 2;

        margin: auto;
        margin-top: 100px;
    }
    &__text-box {
        width: 100%;
        width: max-content;
    }
    &__subtitle {
        font-weight: 600;
        font-size: 18px;
    }
    &__title {
        max-width: 200px;
        margin-top: 10px;

        color: white;
        font-size: 44px;
        font-weight: 500;
    }
    &__btn {
        padding: 15px 0;
        font-weight: 400;
        font-size: 16px;
        color: white;
        border: solid 2px white;

        width: 250px;

        height: auto;
        margin: auto;
        position: absolute;

        left: 0;
        right: 0;
        bottom: 50px;
    }
    &__social-networks {
        width: max-content;
        height: max-content;

        cursor: pointer;
        display: grid;
        gap: 30px;
        margin-left: auto;
    }
}

.portfolio {
    display: grid;
    justify-content: center;

    margin-top: 100px;

    &__title {
    }

    &__menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        margin-top: 50px;
        gap: 10px;

        border-bottom: solid 1.5px #cacaca;
    }

    &__item {
        margin-bottom: -2px;
        padding: 10px 0px;
        border-radius: 2px;
        border-bottom: solid 3px #00000000;

        cursor: pointer;
        transition: all 0.7s ease-in;
    }
    &__item:hover {
        border-bottom: solid 3px #000;
    }

    &__img-box {
        display: none;

        grid-template-columns: 2fr 1.5fr;
        grid-template-rows: repeat(4, 0.5fr);

        gap: 5px;
        margin-top: 20px;
    }

    &__img:nth-child(1) {
        grid-area: 2 / 1 / 4 / 2;
        background: #000;
    }
    &__img:nth-child(2) {
        grid-area: 2 / 2 / 3 / 3;
        background: #000;
    }
    &__img:nth-child(3) {
        grid-area: 3 / 2 / 3 / 3;
        background: #000;
    }
    &__img:nth-child(4) {
        grid-area: 1 / 1 / 2 / 3;
        background: #000;
    }
    &__img:nth-child(5) {
        grid-area: 4 / 2 / 4 / 3;
        background: #000;
    }

    .portfolio__img img {
        width: 100%;
        height: 100%;
    }

    &__btn {
        width: 100%;
        max-width: 300px;

        margin: auto;
        margin-top: 50px;

        font-size: 18px;
        font-weight: 600;
    }
}

.about-me {
    margin-top: 100px;
    line-height: 180%;
    font-family: "Montserrat", sans-serif;

    &__title {
    }
    &__img {
        float: left;
    }
    &__text-box {
        margin-top: 24px;
    }
}

.stages-of-work {
    max-width: 1200px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 40px;
    margin-top: 100px;

    line-height: 180%;
    font-family: "Montserrat", sans-serif;
    &__title {
        width: 100%;
    }
    &__box {
        flex: 1 0 40%;

        display: flex;
        align-items: center;
        justify-content: space-between;

        gap: 20px;
        margin-top: 30px;
    }

    &__content {
        min-width: auto;

        display: flex;
        flex-direction: column;
        height: max-content;
    }
    &__img {
        width: 130px;
        height: 214px;
    }
    &__box-title {
        font-size: 18px;
        font-weight: 800;
    }
    &__box-text {
    }
}

.sign-up {
    width: 100%;
    display: grid;

    background: #000;

    margin-top: 100px;
    padding-left: 16px;
    padding-right: 16px;
    padding: 60px 0;

    &__content {
        width: 100%;
        display: flex;
        justify-content: space-around;

        gap: 30px;
        margin-top: 70px;
        padding-left: 16px;
        padding-right: 16px;
    }

    &__calendar {
        width: 100%;
        height: 100%;

        max-width: 320px;
        max-height: 320px;

        background: #5b5f5b;

        margin-top: 0;
        place-items: center;
        display: none;
    }

    &__form {
        max-width: 450px;
        display: grid;
        color: #f3f4f3;
    }

    &__title {
        color: #f3f4f3;
        text-align: center;

        font-size: 32px;
        font-weight: 800;

        scroll-margin-top: 125px;
    }

    &__subject {
        font-size: 28px;
    }

    &__text {
        margin-top: 40px;
    }

    &__input-box {
        margin-top: 15px;
        gap: 20px;
    }

    &__input {
        color: #f3f4f3;
        border: solid 2px #f3f4f3;
    }
    &__input::placeholder {
        font-size: 12px;
        color: #f3f4f3;
    }
    &__btn {
        margin-top: 70px;

        border: solid 2px #f3f4f3;
        color: #f3f4f3;
    }
}

.rates {
    margin-top: 50px;

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        height: 100%;
        gap: 60px;
    }
    &__logo {
        display: block;
        margin-left: auto;
        width: 100px;
        height: 100px;
    }
    &__box {
        display: grid;

        width: 300px;
        justify-content: center;

        margin: auto;

        padding: 20px;
        border: solid 2px;
    }
    &__box-title {
        text-align: center;
        font-size: 24px;
    }
    &__list {
        display: grid;
        margin-top: 35px;

        gap: 20px;
    }
    &__sheet-element {
        display: flex;

        justify-content: space-between;
    }
    &__sheet-element > p {
        width: max-content;
    }
    &__price {
        margin-top: 70px;
        width: 250px;

        padding: 20px 0;
        border-top: solid 1px;
        border-bottom: solid 1px;

        text-align: center;
        font-size: 18px;
        font-weight: 800;
    }
    &__link {
        padding: 14px 0;
        margin-top: 50px;

        text-align: center;
        font-weight: 600;
        font-size: 18px;
        color: #000;
    }
}

.reviews {
    height: 100%;
    margin-top: 100px;

    font-size: 18px;
    line-height: 180%;
    font-family: "Montserrat", sans-serif;

    &__container {
        display: flex;
        flex-wrap: wrap-reverse;
        margin-top: 50px;
    }
    &__main-img {
        max-width: 350px;
        width: 100%;
        height: 550px;

        margin: auto;
        margin-top: 20px;
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__text {
        height: auto;
        overflow: auto;
    }

    &__img-box {
        display: none;
        justify-content: center;
        flex-wrap: wrap;

        gap: 40px;
        margin-top: auto;
        margin-bottom: auto;
    }
    &__secondary-img {
        width: 250px;
        height: 300px;
    }
    &__secondary-img:nth-child(2) {
        display: none;
    }
    &__small {
        margin-top: 30px;
    }
}

.footer {
    display: flex;
    width: 100%;
    height: 100%;

    position: relative;
    z-index: 0;

    margin-top: 100px;
    background: #121312;

    & a {
        color: #b6b4b4;
    }

    @media (pointer: fine) {
        & a:hover {
            color: white;
        }
    }

    &__content {
        align-self: center;
        width: 100%;
        margin-top: 100px;
    }

    &__img-box {
        z-index: -1;
        position: absolute;
        display: flex;
        overflow: hidden;

        width: max-content;
        max-width: 100%;
        height: 100%;
    }

    &__blur {
        position: absolute;
        right: -50px;

        width: 150px;
        height: 120%;
        background: #121312f5;
        filter: blur(28px);
    }

    &__img {
        height: 100%;
        filter: brightness(21%);
    }

    &__form {
        position: relative;
        z-index: 1;
        margin-left: auto;
        max-width: 500px;
        display: grid;
        color: #9b9a9a;
    }

    &__text {
        font-size: 22px;

        margin-top: 10px;
    }
    &__input-box {
        margin-top: 50px;
        gap: 20px;
    }
    &__input {
        color: white;
        border: solid 2px #9b9a9a;
    }
    &__input::placeholder {
        font-size: 12px;
        color: #9b9a9a;
    }
    &__btn {
        margin-top: 70px;

        border: solid 2px #9b9a9a;
        color: white;
        font-size: 20px;
    }

    &__information {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-top: 150px;
        margin-bottom: 50px;
        color: #b6b4b4;
    }

    &__information-title {
        color: white;
        text-align: left;
    }

    &__contacts {
        display: grid;

        gap: 10px;
        margin-top: 50px;
    }
    &__navigation {
        // width: 60%;
        display: none;
    }

    &__social-networks {
        display: flex;
        justify-content: center;
        gap: 30px;
    }
}

@media screen and (min-width: 576px) {
    .img {
        width: 180px;
        height: 256px;
    }
    body {
        font-size: 16px;
    }
    .preview {
        padding: 0 16px;
        height: 100%;
    }
    .preview__img {
        width: 400px;
        height: 600px;
        margin-top: auto;
        margin: 0;
        grid-area: 1/1/2/2;
    }
    .preview__content {
        width: min(40vw, 500px);
        max-width: 700px;
        margin-top: 40%;
        grid-area: 1/2/2/3;
    }
    .preview__subtitle {
        font-size: 24px;
        font-weight: 400;
    }
    .preview__title {
        max-width: 100%;
        color: #000;
        margin-top: 25px;
        font-weight: 500;
    }
    .preview__btn {
        width: 100%;
        margin-top: 100px;
        color: black;
        border: solid 2px rgb(0, 0, 0);
        position: static;
    }
    .stages-of-work__content {
        min-width: 265px;
    }
    .portfolio__item {
        padding: 10px 15px;
    }
}
@media screen and (min-width: 820px) {
    .portfolio {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(4, auto);
    }
    .portfolio__img-box {
        display: none;
        max-height: 700px;
        min-height: 100%;
        grid-template-columns: 2fr repeat(3, 1fr);
        grid-template-rows: 1fr 0.5fr 1fr;
        gap: 10px;
    }
    .portfolio__img:nth-child(1) {
        grid-area: 1/1/4/2;
    }
    .portfolio__img:nth-child(2) {
        grid-area: 1/3/2/4;
    }
    .portfolio__img:nth-child(3) {
        grid-area: 2/2/4/4;
    }
    .portfolio__img:nth-child(4) {
        grid-area: 1/4/3/5;
    }
    .portfolio__img:nth-child(5) {
        grid-area: 3/4/4/5;
    }
    .reviews__img-box {
        display: flex;
    }
    .reviews__main-img {
        margin-top: 0;
    }
    .reviews__text {
        height: 156px;
        overflow: auto;
    }
    .reviews__container {
        flex-wrap: nowrap;
        justify-content: center;
    }
    .reviews__content {
        margin-left: 20px;
    }
    .header__content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header__navigation {
        display: flex;
    }
    .header__burger {
        display: none;
    }
    .burger-menu {
        display: none;
    }
    .footer__navigation {
        display: block;
    }
    .sign-up__calendar {
        display: grid;
    }
}
@media screen and (min-width: 995px) {
    .rates__content {
        display: flex;
        flex-wrap: nowrap;
    }
    .rates__margin-top-100 {
        margin-top: 100px;
    }
    .rates__margin-top-200 {
        margin-top: 200px;
    }
    .rates__margin-top-300 {
        margin-top: 300px;
    }
    .navigation {
        display: flex;
    }
    .stages-of-work__box:nth-of-type(4n + 3),
    .stages-of-work__box:nth-of-type(4n + 4) {
        flex-direction: row-reverse;
    }
    .reviews__secondary-img:nth-child(2) {
        display: block;
    }
}
@media screen and (max-width: 995px) {
    .stages-of-work__box:nth-of-type(2n) {
        flex-direction: row-reverse;
    }
}
