@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

body::-webkit-scrollbar {
    background: #43474e;
    width: 10px;
}
body::-webkit-scrollbar-thumb {
    background: #2f3136;
    border-radius: 10px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;

    background: white;

    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 12px;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.form {
    display: grid;

    &__title {
    }
    &__subject {
        font-size: 20px;
        font-weight: 600;
    }
    &__text {
        font-style: 18px;
    }
    &__input-box {
        display: grid;
    }
    &__input {
        background: none;
        padding-top: 30px;
        padding-left: 5px;
        font-size: 18px;
    }

    &__input::-webkit-calendar-picker-indicator {
        background-image: url("/img/form/calendar-icon.svg");
    }

    &__btn {
        font-style: 18px;
    }
}

.navigation {
    display: none;
    &__content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        gap: 50px;
    }
}

button {
    padding: 20px;
    background: none;
    cursor: pointer;
    border: solid 2px #696464;
}

.img {
    width: 120px;
    height: 171px;
}

h2 > a {
    color: black;
}

header {
    width: 100%;
    position: absolute;
    z-index: 1;
    height: 80px;
    border-bottom: solid 2px #666666;
}

main {
    width: 100%;
}

.preview {
    max-width: 1200px;
    height: 100vh;
    max-height: 800px;

    margin: auto;

    display: grid;
    position: relative;

    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    &__img {
        width: 100%;
        height: 100vh;
        max-width: 100%;
        max-height: 800px;

        margin: auto;

        grid-area: 1 / 1 / 2 / 2;
    }
    &__content {
        width: 80%;
        height: 100%;

        margin-left: 20px;
        margin-right: 20px;

        display: flex;
        height: max-content;
        grid-area: 1 / 1 / 2 / 2;

        margin: auto;
        margin-top: 100px;
    }
    &__text-box {
        width: 100%;
        width: max-content;
    }
    &__subtitle {
        font-weight: 600;
        font-size: 18px;
    }
    &__title {
        max-width: 200px;
        margin-top: 10px;

        color: white;
        font-size: 44px;
        font-weight: 500;
    }
    &__btn {
        width: 60%;
        position: absolute;
        bottom: 50px;

        left: 25vw;
        padding: 15px 0;

        font-weight: 400;
        font-size: 16px;
        color: white;
    }
    &__social-networks {
        width: max-content;
        height: max-content;

        cursor: pointer;
        display: grid;
        gap: 30px;
        margin-left: auto;
    }
}

.about-me {
}

.stages-of-work {
    max-width: 1200px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 40px;
    margin-top: 100px;

    line-height: 180%;
    font-family: "Montserrat", sans-serif;
    &__title {
        width: 100%;
        text-align: center;

        margin-bottom: 30px;

        font-size: 28px;
        font-weight: 800;
    }
    &__box {
        width: max-content;
        display: flex;
        align-items: center;
        gap: 20px;
    }
    &__box--reverse {
        flex-direction: row-reverse;
    }
    &__content {
        max-width: 250px;
        height: max-content;
    }
    &__img {
        width: 130px;
        height: 214px;
    }
    &__box-title {
        font-size: 18px;
        font-weight: 800;
    }
    &__box-text {
    }
}

.sign-up {
    width: 100%;
    display: grid;

    background: #000;

    margin-top: 100px;
    padding-left: 16px;
    padding-right: 16px;
    padding: 60px 0;

    &__content {
        width: 100%;
        display: flex;
        justify-content: space-around;

        gap: 30px;
        margin-top: 70px;
        padding-left: 16px;
        padding-right: 16px;
    }

    &__calendar {
        margin-top: 0;
        width: 100%;
        height: 100%;
        max-width: 320px;
        max-height: 320px;
        background: #5b5f5b;
    }

    &__form {
        max-width: 450px;
        display: grid;
        color: #f3f4f3;
    }

    &__title {
        color: #f3f4f3;
        text-align: center;

        font-size: 32px;
        font-weight: 800;
    }

    &__subject {
        font-size: 28px;
    }

    &__text {
        margin-top: 40px;
    }

    &__input-box {
        margin-top: 15px;
        gap: 20px;
    }

    &__input {
        color: #f3f4f3;
        border: solid 2px #f3f4f3;
    }
    &__input::placeholder {
        font-size: 12px;
        color: #f3f4f3;
    }
    &__btn {
        margin-top: 70px;

        border: solid 2px #f3f4f3;
        color: #f3f4f3;
    }
}

.rates {
    position: relative;
    &__title {
        text-align: center;

        font-size: 28px;
        font-weight: 800px;
    }
    &__content {
        display: grid;
        justify-content: center;

        height: 100%;
        gap: 60px;
    }
    &__logo {
        display: block;
        margin-left: auto;
        width: 100px;
        height: 100px;
    }
    &__box {
        display: grid;

        width: 300px;
        justify-content: center;

        margin: auto;

        padding: 20px;
        border: solid 2px;
    }
    &__box-title {
        text-align: center;
        font-size: 24px;
    }
    &__list {
        display: grid;
        margin-top: 35px;

        gap: 20px;
    }
    &__sheet-element {
        display: flex;

        justify-content: space-between;
    }
    &__sheet-element > p {
        width: max-content;
    }

    &__price {
        margin-top: 70px;
        width: 250px;

        padding: 20px 0;
        border-top: solid 1px;
        border-bottom: solid 1px;

        text-align: center;
        font-size: 18px;
        font-weight: 800;
    }
    &__btn {
        margin-top: 50px;
        font-weight: 600;
        font-size: 18px;
        padding: 12px 0;
    }
}

.reviews {
    max-height: 100vh;
    overflow: auto;

    margin-top: 100px;
}

.footer {
    display: flex;
    width: 100%;
    height: 100%;

    position: relative;
    z-index: 0;

    margin-top: 100px;
    background: #121312;

    & a {
        color: #b6b4b4;
    }

    & a:hover {
        color: white;
    }

    &__content {
        align-self: center;
        width: 100%;
        margin-top: 100px;
    }

    &__img-box {
        z-index: -1;
        position: absolute;
        display: flex;
        overflow: hidden;

        width: max-content;
        max-width: 100%;
        height: 100%;
    }

    &__blur {
        position: absolute;
        right: -50px;

        width: 150px;
        height: 120%;
        background: #121312f5;
        filter: blur(28px);
    }

    &__img {
        height: 100%;
        filter: brightness(21%);
    }

    &__form {
        position: relative;
        z-index: 1;
        margin-left: auto;
        max-width: 500px;
        display: grid;
        color: #9b9a9a;
    }

    &__text {
        font-size: 22px;

        margin-top: 10px;
    }
    &__input-box {
        margin-top: 50px;
        gap: 20px;
    }
    &__input {
        color: white;
        border: solid 2px #9b9a9a;
    }
    &__input::placeholder {
        font-size: 12px;
        color: #9b9a9a;
    }
    &__btn {
        margin-top: 70px;

        border: solid 2px #9b9a9a;
        color: white;
        font-size: 20px;
    }

    &__information {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-top: 150px;
        margin-bottom: 50px;
        color: #b6b4b4;
    }

    &__information-title {
        color: white;
    }

    &__contacts {
        display: grid;

        gap: 10px;
        margin-top: 50px;
    }

    &__social-networks {
        display: flex;
        gap: 30px;
    }
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 992px) {
    .rates {
        &__content {
            display: flex;
        }
        &__margin-top-100 {
            margin-top: 100px;
        }
        &__margin-top-200 {
            margin-top: 200px;
        }
        &__margin-top-300 {
            margin-top: 300px;
        }
    }
    .navigation {
        display: flex;
    }
    // .preview {
    //     &__img {
    //         height: auto;
    //         grid-area: 1 / 1 / 2 / 2;
    //     }
    //     &__content {
    //         display: grid;
    //         width: max-content;
    //         grid-area: 1 / 2 / 2 / 3;
    //     }
    //     &__social-networks {
    //     }
    // }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 576px) {
    .img {
        width: 180px;
        height: 256px;
    }
    body {
        font-size: 16px;
    }
    .preview {
        height: 100%;
        &__img {
            width: 400px;
            height: 600px;

            margin-top: auto;

            margin: 0;
            grid-area: 1 / 1 / 2 / 2;
        }
        &__content {
            width: min(40vw, 500px);
            max-width: 700px;

            margin-top: 40%;
            margin-right: 10px;
            grid-area: 1 / 2 / 2 / 3;
        }
        &__social-networks {
        }
        &__text-box {
        }
        &__subtitle {
            font-size: 24px;
            font-weight: 400;
        }
        &__title {
            max-width: 100%;
            color: #000;

            margin-top: 25px;

            font-weight: 500;
        }
        &__btn {
            width: 100%;

            margin-top: 100px;
            color: black;

            position: static;
        }
        &__social-networks {
        }
    }
}
