@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,600;0,700;0,800;1,500&display=swap");
body::-webkit-scrollbar {
  background: #43474e;
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #2f3136;
  border-radius: 10px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.form {
  display: grid;
}
.form__subject {
  font-size: 20px;
  font-weight: 600;
}
.form__text {
  font-style: 18px;
}
.form__input-box {
  display: grid;
}
.form__input {
  background: none;
  padding-top: 30px;
  padding-left: 5px;
  font-size: 18px;
}
.form__input::-webkit-calendar-picker-indicator {
  background-image: url("/img/form/calendar-icon.svg");
}
.form__btn {
  font-style: 18px;
}

button {
  padding: 20px;
  background: none;
  border: solid 2px #696464;
}

.img {
  width: 120px;
  height: 171px;
}

header {
  width: 100%;
  position: absolute;
  z-index: 1;
  height: 80px;
  border-bottom: solid 2px #666666;
}

main {
  width: 100%;
}

.preview {
  width: 100%;
  max-width: -moz-max-content;
  max-width: max-content;
  display: flex;
  position: relative;
  margin: auto;
}
.preview--positioning {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 80px;
  width: 80%;
  display: flex;
  align-items: center;
}
.preview__box {
  width: 100%;
  margin-top: 30px;
}
.preview__subtitle {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.preview__title {
  margin-top: 15px;
  color: white;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
}
.preview__social-networks {
  display: grid;
  gap: 24px;
}
.preview__btn {
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 50px;
  color: white;
}
.preview__img {
  width: 100%;
}

.stages-of-work {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 100px;
  line-height: 180%;
  font-family: "Montserrat", sans-serif;
}
.stages-of-work__title {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 800;
}
.stages-of-work__box {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 20px;
}
.stages-of-work__box--reverse {
  flex-direction: row-reverse;
}
.stages-of-work__content {
  max-width: 250px;
  height: -moz-max-content;
  height: max-content;
}
.stages-of-work__img {
  width: 130px;
  height: 214px;
}
.stages-of-work__box-title {
  font-size: 18px;
  font-weight: 800;
}
.sign-up {
  width: 100%;
  display: grid;
  background: #000;
  margin-top: 100px;
  padding-left: 16px;
  padding-right: 16px;
  padding: 60px 0;
}
.sign-up__content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 30px;
  margin-top: 70px;
  padding-left: 16px;
  padding-right: 16px;
}
.sign-up__calendar {
  margin-top: 0;
  width: 100%;
  height: 100%;
  max-width: 320px;
  max-height: 320px;
  background: #5b5f5b;
}
.sign-up__form {
  max-width: 450px;
  display: grid;
  color: #f3f4f3;
}
.sign-up__title {
  color: #f3f4f3;
  text-align: center;
  font-size: 32px;
  font-weight: 800;
}
.sign-up__subject {
  font-size: 28px;
}
.sign-up__text {
  margin-top: 40px;
}
.sign-up__input-box {
  margin-top: 15px;
  gap: 20px;
}
.sign-up__input {
  color: #f3f4f3;
  border: solid 2px #f3f4f3;
}
.sign-up__input::-moz-placeholder {
  font-size: 12px;
  color: #f3f4f3;
}
.sign-up__input::placeholder {
  font-size: 12px;
  color: #f3f4f3;
}
.sign-up__btn {
  margin-top: 70px;
  border: solid 2px #f3f4f3;
  color: #f3f4f3;
}

.rates {
  position: relative;
  min-height: 100vh;
}
.rates__title {
  margin-top: 100px;
  text-align: center;
  font-size: 28px;
  font-weight: 800px;
}
.rates__content {
  display: grid;
  justify-content: center;
  height: 100%;
  gap: 60px;
  margin-top: 50px;
}
.rates__logo {
  display: block;
  margin-left: auto;
  width: 100px;
  height: 100px;
}
.rates__box {
  display: grid;
  width: 300px;
  justify-content: center;
  margin: auto;
  padding: 20px;
  border: solid 2px;
}
.rates__box-title {
  text-align: center;
  font-size: 24px;
}
.rates__list {
  display: grid;
  margin-top: 35px;
  gap: 20px;
}
.rates__sheet-element {
  display: flex;
  justify-content: space-between;
}
.rates__price {
  margin-top: 70px;
  width: 250px;
  padding: 20px 0;
  border-top: solid 1px;
  border-bottom: solid 1px;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
}
.rates__btn {
  margin-top: 50px;
  font-weight: 600;
  font-size: 18px;
  padding: 12px 0;
}

.reviews {
  max-height: 100vh;
  overflow: auto;
  margin-top: 100px;
  border: solid 1px;
}

.footer {
  position: relative;
  display: flex;
  width: 100%;
  height: 700px;
  margin-top: 110px;
  background: #121312;
}
.footer__content {
  align-self: center;
  width: 100%;
}
.footer__img {
  width: 70%;
  position: absolute;
  z-index: 0;
  height: 100%;
  filter: blur(3px) brightness(30%);
}
.footer__form {
  position: relative;
  z-index: 1;
  margin-left: auto;
  max-width: 500px;
  display: grid;
  color: rgb(126, 125, 125);
}
.footer__taitle {
  color: white;
  font-size: 28px;
}
.footer__text {
  font-size: 22px;
  margin-top: 10px;
}
.footer__input-box {
  margin-top: 50px;
  gap: 20px;
}
.footer__input {
  color: rgb(126, 125, 125);
  border: solid 2px rgb(126, 125, 125);
}
.footer__input::-moz-placeholder {
  font-size: 12px;
  color: rgb(126, 125, 125);
}
.footer__input::placeholder {
  font-size: 12px;
  color: rgb(126, 125, 125);
}
.footer__btn {
  margin-top: 70px;
  border: solid 2px rgb(126, 125, 125);
  color: white;
  font-size: 20px;
}

@media screen and (min-width: 992px) {
  .rates__content {
    display: flex;
  }
  .rates__margin-top-100 {
    margin-top: 100px;
  }
  .rates__margin-top-200 {
    margin-top: 200px;
  }
  .rates__margin-top-300 {
    margin-top: 300px;
  }
}
@media screen and (min-width: 576px) {
  .img {
    width: 180px;
    height: 256px;
  }
  body {
    font-size: 16px;
  }
}